body{
	background: url("../images/login_back.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#login_box{
	width: 30%;
	background-color: rgba(255,255,255,0.7);
	display: block;
	margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 7px;
}
#login_head{
	background-color: #455a64;
    width: 80%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    margin-top: -9rem;
    color: white;
    margin-bottom: 5rem;
}

input[type="text"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #455a64;
    width: 90%;
    margin-bottom: 2rem;
    margin-left: 2rem;
    color: #455a64; 
}
input[type="password"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #455a64;
    width: 90%;
    margin-bottom: 5rem;
    margin-left: 2rem;
    color: #455a64; 
}
input[type="text"]:focus,input[type="password"]:focus{
	border-bottom: 2px solid #90a4ae;
}
#registration_check{
	font-size: 16px;
	margin-left: 2rem;
}
button#submit{
	display: block;
	padding: 1rem 8rem;
	border-radius: 5px;
	margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #455a64;
    border: none;
    margin-bottom: 5rem;
}
button#signup{
	background-color: transparent;
	border: 2px solid #455a64;
	border-radius: 4px;
	margin-left: 2rem;
	padding: 0.5rem;
	font-size: 15px;
	color: #455a64;
}
